@{
    ViewBag.Title = "L-P BAKERY";
}
    <style type="text/css">
        .col-md-4 img {
            width: 100%;
        }
        .box1 {
            position: absolute;
            left: 80%;
            top: 20px;
            left: 205px;
        }

        .jumbotron {
            background-color: #c0c0c0;
            padding-left: 180px;
            padding-right: 80px;
            padding-top: 22px;
            /*padding: 0 0 0 10px;*/
            /*border: 0px white solid;*/
        }
    </style>

    <div class="jumbotron" align="center">
        <div @*class="jumbotron"*@ class="row">
            <div id="box1">
                @*<font color="sienna"> Search our site</font>*@
                <input type="text" name="Search " />
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-search"> Search </span> 
                </a>
            </div>
            <div>
                <img src="https://theme.hstatic.net/1000340623/1000432262/14/slideshow_2.jpg?v=142" alt="" width="900" height="500" />
                <h1>L-P.BAKERY</h1>
                <p class="lead">
                    L-P BAKERY chất lượng làm nên uy tiến phát triển dựa vào mục tiêu mong muốn mang đến cho cuộc sống những chiếc bánh tuyệt vời nhất. Đây cũng là một trong những thương hiệu bánh được nhiều người tiêu dùng lựa chọn, khẩu vị hoàn toàn hợp với người Việt..
                </p>
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Đăng Nhập &raquo;</a></p>
            </div>
            @*<img src="https://theme.hstatic.net/1000340623/1000432262/14/slideshow_2.jpg?v=142" alt="" width="1260" height="500"/>
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Bánh Kem Bắp BK001</h2>
        <img src="https://product.hstatic.net/1000340623/product/bkb017-1_grande.jpg" alt="" />
        <p>
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Chọn ngay &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bánh Kem Bắp BK002</h2>
        <img src="https://product.hstatic.net/1000340623/product/bkb018-3_grande.jpg" alt="" />
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Chọn ngay &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bánh Kem Bắp BK003</h2>
        <img src="https://product.hstatic.net/1000340623/product/bkb037-1_f578e938bb0b409eb8af77c4ac7f9c70_grande.jpg" alt="" />
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Chọn ngay &raquo;</a></p>
    </div>
</div>